body {
  font-family: "Marcellus", serif;
  padding: 50px;
  margin-top: 20px;
  background: linear-gradient(90deg, #0097b2, #9ff7a2);
}

h1 {
  font-size: 100px; 
  color: white
}

ul {
  font-size: 30px; 
  color: black
}

.top-corner-img {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 300px;   
  height: auto;
  z-index: 1000;  
}
