/* style.css */
body {
  font-family: Times New Roman, sans-serif;
  text-align: center;
  font-size: 40px;
  padding: 5px;
  background-color: #f0f8ff;
}

button {
  padding: 10px 20px;
  font-size: 50px;
  background-color: #0284c7;
  color: white;
  border: none;
  cursor: pen;
}

button:hover {
  background-color: #0369a1;
}
