/* style.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 150px;
  background-color: #f0f8ff;
}

button {
  padding: 100px 200px;
  font-size: 50px;
  background-color: #0284c7;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0369a1;
}
